.section {
	width: 12vw;
	height: 40vh;
	background-color: white;
	display: flex;
	flex-direction: column;
}
.img {
	height: 70%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.text {
	text-align: left;
	padding-left: 1em;
	font-size: 1em;
}
.h2 {
	position: relative;
	bottom: 2em;
	color: white;
	padding-left: 1em;
	font-size: 1.2em;
}
.button {
	font-size: 2.3em;
	border: none;
	background-color: white;
	width: 12vw;
	height: fit-content;
	padding-right: 0.5em;
	text-align: right;
}
.div {
	display: flex;
	flex-direction: row-reverse;
}
.addInfo {
	background-color: white;
	padding: 1em;
	font-size: 1.2em;
	z-index: 1;
}
